streamlit>=1.41.0
langchain-google-genai
langchain-community
langchain-core
tmdbv3api
pandas
langchain-qdrant
qdrant-client
pypdf
sentence-transformers
langchain-huggingface
python-dotenv
google-search-results